<nav>
  <ul>
    <li>
      <a href="/"><img src="../images/logo.png" alt="Valorant" class="header-logo"></a>
      <a class="<%= currentPage === 'index' ? 'active' : '' %>" href="/">Home</a>
      <a class="<%= currentPage === 'agents' ? 'active' : '' %>" href="/agents">Agents</a>
      <a class="<%= currentPage === 'specs' ? 'active' : '' %>" href="/specs">Specs</a>
      <a class="<%= currentPage === 'messages' ? 'active' : '' %>" href="/messages">Community</a>
      <a class="<%= currentPage === 'signup' ? 'active' : '' %>" href="/signup">Signup</a>
      <a class="<%= currentPage === 'contactus' ? 'active' : '' %>" href="/contact-us">Contact Us</a>
    </li>
  </ul>
</nav>